<head>
    <title>Zapisana lista</title>
</head>
<body>
    <h4>Last Saved List</h4>


    <div id="app">
        <h2>List vue:</h2>
        <ol>
            <li v-for="item in items">
                
                    <label>
                        <input type="checkbox"
                               v-on:change="toggle(item)"
                               v-bind:checked="item.Done">

                        <del v-if="item.Done">
                            {{ item.Name}}
                        </del>
                        <span v-else>
                            {{ item.Name }}
                        </span>
                    </label>
                    
            </li>
        </ol>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var getList=localStorage.getItem("IdSavedList");

    var objArray = [];
    async function fetchItems() {
        fetch('/Offline/GetList/'+getList).then(Response => {
            return Response.json();
            
        }).then(data => {
            console.log(data);
            var test = JSON.parse(data);
            for (var i = 0; i < test.length; i++) {
                console.log(data);
                var newObj = { Name: test[i].Name, ID: test[i].ID, Done: test[i].Done };

                objArray.push(newObj);
            }
            if (objArray.length != 0) {
                console.log('have some items');
            }

            return objArray;
        }).catch(err => {
            console.log(err);
        })

    }
    new Vue({
        el: "#app",
        data: {
            items: [

            ]
        },
        created() {
            this.getItems();
        },
        methods: {
            toggle: function (item) {
                item.Done = !item.Done
            },
            getItems: async function () {
                this.items = await fetchItems();
                this.items = objArray;
            }
        }
    });

</script>
<style>


    li {
        margin: 8px 0;
    }

    h2 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    del {
        color: rgba(0, 0, 0, 0.3);
    }
</style>
