@model List<string>
@{
    ViewData["Title"] = "Progressive";
}

<head>
    <link rel='manifest' href='~/manifest.json'>
</head>
<div class="row">
    <h4>
        Lista zakupów do zapisu offline
    </h4>


    </div>
@foreach (var item in Model)
{
    <br />
    @item

}
<br /> <br />
       <div class="row">
           <input type="button" class="btn-primary" onclick="location.href = '@Url.Action("Main_menu", "Home")', fetchJsonFile('/OfflineList.json')" value="Potwierdz" style="margin-bottom:3px; width:120px; margin-left:10%;" />
           <input type="button" class="btn-primary" onclick="location.href='@Url.Action("Select_list_to_save_offline", "Progressive")'" value="Cofnij" style="margin-bottom:3px; width:120px; margin-left:10%;" />
           
       </div>



<script>
    function fetchJsonFile(path, callback) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState === 4) {
                if (httpRequest.status === 200) {
                    var data = JSON.parse(httpRequest.responseText);
                    if (callback) callback(data);
                }
            }
        };
        httpRequest.open('GET', path);
        httpRequest.send();
    }


    fetchJsonFile('/OfflineList.json', function (data) {
        console.log(data);
    });

</script>