@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


@{

    List<SelectListItem> Education = new List<SelectListItem>();
    Education.Add(new SelectListItem
    {
        Text = "podstawowe",
        Value = "podstawowe",
        Selected = true
    });
    Education.Add(new SelectListItem
    {
        Text = "gimnazjalne",
        Value = "gimnazjalne",
        Selected = true
    });
    Education.Add(new SelectListItem
    {
        Text = "zasadnicze zawodowe",
        Value = "zasadnicze zawodowe",
        Selected = true
    });
    Education.Add(new SelectListItem
    {
        Text = "zasadnicze branżowe",
        Value = " zasadnicze branzowe",
        Selected = true
    });
    Education.Add(new SelectListItem
    {
        Text = "średnie branżowe",
        Value = "srednie branzowe",
        Selected = true
    });
    Education.Add(new SelectListItem
    {
        Text = "średnie",
        Value = "srednie",
    });
    Education.Add(new SelectListItem
    {
        Text = "wyższe",
        Value = "wyzsze",
    });



    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "dolnośląskie",
        Value = "dolnoslaskie",
        Selected=true
    });
    listItems.Add(new SelectListItem
    {
        Text = "kujawsko-pomorskie",
        Value = "kujawsko-pomorskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "lubelskie",
        Value = "lubelskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "lubuskie",
        Value = "lubuskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "łódzkie",
        Value = "lodzkie"
    }); listItems.Add(new SelectListItem
    {
        Text = "małopolskie",
        Value = "malopolskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "mazowieckie",
        Value = "mazowieckie"
    }); listItems.Add(new SelectListItem
    {
        Text = "opolskie",
        Value = "opolskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "podkarpackie",
        Value = "podkarpackie"
    }); listItems.Add(new SelectListItem
    {
        Text = "podlaskie",
        Value = "podlaskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "pomorskie",
        Value = "pomorskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "śląskie",
        Value = "slaskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "świętokrzyskie",
        Value = "swetokrzyskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "warmińsko-mazurskie",
        Value = "warminsko-mazurskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "wielkopolskie",
        Value = "wielkopolskie"
    }); listItems.Add(new SelectListItem
    {
        Text = "zachodniopomorskie",
        Value = "zachodniopomorskie"
    });
    listItems.Add(new SelectListItem
    {
        Text = "poza granicami Polski",
        Value = "abroad"
    });

}

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"> Płeć </label><br />

                <label><input asp-for="Input.Gender" value="Male" type="radio" />Male</label><br />
                <label><input asp-for="Input.Gender" value="Female" type="radio" />Female</label><br />


            </div>
            <div class="form-group">
                <label asp-for="Input.Salary"> Zarobki </label><br />

                <label><input asp-for="Input.Salary" value="Ponizej 3000zl" type="radio" />Poniżej 3000zł</label><br />
                <label><input asp-for="Input.Salary" value="3000-5000zl" type="radio" />3000-5000zł</label><br />
                <label><input asp-for="Input.Salary" value="Powyzej 5000zl" type="radio" />Powyżej 5000zł</label><br />


            </div>
            <div class="form-group">
                <label asp-for="Input.Home"> Miejsce Zamieszkania </label><br />

                @Html.DropDownListFor(model => model.Input.Home, listItems, "Miejsce zamieszkania")

            </div>
            <div class="form-group">
                <label asp-for="Input.Age" typeof="number"></label>
                <input asp-for="Input.Age" class="form-control" />
            </div>   
            @*<div class="form-group">
            <label asp-for="Input.Height"> Wzrost </label><br />

            <label><input asp-for="Input.Height" value="Poniżej 165cm" type="radio" />Poniżej 3000zł</label><br />
            <label><input asp-for="Input.Height" value="Powyżej 165cm" type="radio" />3000-5000zł</label><br />


        </div>*@            <div class="form-group">
                <label asp-for="Input.Education"> Wykształcenie </label><br />

                @Html.DropDownListFor(model => model.Input.Education, Education, "Miejsce zamieszkania")


            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
