@model List<string>
@{
    ViewData["Title"] = "Progressive";
}

<h1>Lista zakupów do zapisu offline</h1>
<input type="button" class="btn-primary" onclick="location.href='@Url.Action("Main_menu", "Home")'" value="Wroc" style="margin-bottom:3px; width:60px; margin-left:10%;" />
@foreach (var item in Model)
{
    <br />
    @item
}

