@model List<List>
@{
    ViewData["Title"] = "Wczytaj Liste";
}

<div class="row">
    <h4>Listy do wczytania</h4>


    <input type="button" class="btn-primary" onclick="location.href='@Url.Action("Main_menu", "Home")'" value="Wroc" style="margin-bottom:3px; width:60px; margin-left:10%;" />
</div>

<div class="accordion" id="accordionExample">
    @{int k = 0;}

    @foreach (var list in Model)
    {
        <div class="card-header" id="headingOne_@k">

            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne_@k" aria-expanded="true" aria-controls="collapseOne">

                @list.Name

            </button>
        </div>
        <div class="row">
            <form asp-controller="Progressive" asp-action="Progressive" method="post">
                <input type="hidden" name="Id" value="@list.Id" />
                <button class="btn-primary" style="margin-bottom:3px; width:100px;height:30px; margin-left:15px">Zapisz listę</button>
            </form>

        </div>
        <div class="card">
            @foreach (var productList in list.ProductList)
            {
                <div id="collapseOne_@k" class="collapse" aria-labelledby="headingOne_@k" data-parent="#accordionExample">
                    <div class="card-body">

                        @productList.Product.Name

                    </div>
                </div>
            }
        </div>
        k++;
    }
</div>



