@model Assistant.ViewModels.ListViewModel
@{
    ViewData["Title"] = "Stworz Liste";
}
<div class="row" style="margin-left:0%">
    <h4> Tworzenie Listy</h4>
    <input type="button" class="btn-primary" onclick="location.href='@Url.Action("Main_menu", "Home")'" value="Wroc" style="margin-bottom:3px; width:60px; margin-left:37%;" />
</div>

<div class="lead">Nazwa produktu</div>



<div class="row">
    <div class="col-md-4">

        <form asp-controller="Home" asp-action="AddProduct" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="product.Name" class="form-control" id="Name" />
                <span asp-validation-for="product.Name" class="text-danger"></span>
            </div>
            <div class="row mt-3"></div>
            <div class="form-group">
                <button type="submit" class="btn-primary" style="margin-bottom:3px; width:200px; margin-left:20%;">Dodaj produkt</button>
            </div>
        </form>

        <div class="row mt-3"></div>
        @*<form action="FinishList" method="post">
            <button class="btn-primary" style="margin-bottom:3px; width:200px; margin-left:20%;">Dodaj liste</button>
        </form>*@
    <form asp-controller="Home" asp-action="FinishList" method="post">
        <button class="btn-primary" style="margin-bottom:3px; width:200px; margin-left:20%;">Dodaj liste</button>
    </form>

            @if (User.Identity.IsAuthenticated && Model.IsPrivate == false)
            {
                <div class="row mt-3"></div>
                <form asp-controller="Home" asp-action="ChangeType" method="post">
                   
                    <button type="submit" class="btn-primary" style="margin-bottom:3px; width:200px; margin-left:20%;"> Zmien na publiczną</button>
                </form>
            }
            @if (User.Identity.IsAuthenticated && Model.IsPrivate != false)
            {
                <div class="row mt-3"></div>
                <form asp-controller="Home" asp-action="ChangeType" method="post">

                    <button type="submit" class="btn-primary" style="margin-bottom:3px; width:200px; margin-left:20%;"> Zmien na publiczna</button>
                </form>
            }
    </div>
</div>



@if (Model.productsToPartial.Count() > 0)
{
    await Html.RenderPartialAsync("ProductList", Model.productsToPartial);
}
else
{
    <h1> List is empty</h1>
}

