@model Assistant.Models.MongoDBProdList
@{ ViewData["Title"] = "Stworz Liste"; }
<div class="row" style="margin-left:0%">
    <h4> Tworzenie Listy</h4>
    <input type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Main_menu", "Home")'" value="Wroc" style="margin-bottom:3px; width:60px; margin-left:37%;" />
</div>

<div class="lead">Nazwa produktu</div>




<div class="col-md-4">

    @*<form asp-controller="Home" asp-action="AddProduct" method="post" id="AddProductName">*@
    @*<input asp-for="Name" class="form-control" id="ProdName" value="" />*@
    @*<span asp-validation-for="Name" class="text-danger"></span>*@
    <input type="text" name="ProdName" id="ProdName" class="form-control" />


    <div class="row mt-3"></div>

    <div class="form-group">
        <div class="row">
            <button type="submit" id="AddProduct" class="btn btn-primary" style="margin-bottom:3px; width:200px; margin-left:20%;">Dodaj produkt</button>

            <div class="spinner-border text-primary" role="status" id="spinnerAddProd" style="padding:15px;margin-left:5px">
                <span class="sr-only">Wczytywanie...</span>
            </div>
        </div>
    </div>
    @*</form>*@

    <div class="row mt-3"></div>
    <form asp-controller="Home" asp-action="FinishList" method="post">
        <div class="row">
            <button class="btn btn-primary" style="margin-bottom:3px; width:200px; margin-left:20%;">Dodaj liste</button>
        </div>
    </form>
    <div class="row mt-3"></div>
    <div class="form-group">
        <div class="row">
            <button type="submit" id="GetPropositions" class="btn btn-primary" style="margin-bottom:3px; width:200px; margin-left:20%;">Pokaż propozycje</button>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary hidden text-center" role="status" id="spinnerShowPropositions" style="padding:15px;margin-left:5px">
                    <span class="sr-only">Wczytywanie...</span>
                </div>
            </div>
        </div>
    </div>
    <div id="spinnerPropositionsList">
        <div class="lead">
            <h2>Lista propozycji</h2>
        </div>
        <div class="spinner-border text-primary" role="status" style="padding: 15px;
        margin-left: 5px;
        width: 5rem;
        height: 5rem;">

        </div>

    </div>
    <div id="propositions">
    </div>

    <div id="ProdList">
    </div>

</div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            var newText = "Trwa generownie propozycji"
            var finalText = "Trwa generowanie widoku"
            var refreshText = "Odśwież propozycje"
            var button = $("#GetPropositions");
            $('#spinnerAddProd').hide();
            $('#spinnerShowPropositions').hide();
            $('#spinnerPropositionsList').hide();
            $(document).ready(function () {
                $("#GetPropositions").click(function () {
                    console.log("clicked button: Trwa generownie propozycji")
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("PropositionOfProducts", "Home")',
                        dataType: "text",
                        error: function (err) {
                            console.log(err)
                        },
                        beforeSend: function () {
                            $(button).text(newText);
                            $("#GetPropositions").text("Trwa generownie propozycji");
                            $('#spinnerShowPropositions').show();
                        },
                        success: function (data) {
                            $('#spinnerShowPropositions').hide();
                            $(button).text(finalText);
                            $('#spinnerPropositionsList').show();
                            $("#propositions").html(data);
                        },
                        complete: function () {
                            $(button).text(refreshText);
                            $('#spinnerPropositionsList').hide();
                        },
                    })
                    })
                })





    $(document).ready(function () {
        $("#AddProduct").click(function () {
            $('#spinnerAddProd').show();
            var prodName = $("#ProdName").val();
            console.log(prodName);
            $('#ProdName').val('');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddProduct", "Home")',
                dataType:"text",
                data: { prodName: prodName },
                error: function (err) {
                    console.log(err)
                },
                success: function () {
                    $("#ProdList").load("/Home/ProductList");
                    $('#spinnerAddProd').hide();
                }
            })

        });
    });
        $(document).ready(function () {
            $('#spinnerAddProd').show();
            $.ajax({
                type: "GET",
                dataType:"text",
                error: function (err) {
                    console.log(err)
                },
                success: function () {
                    $("#ProdList").load("/Home/ProductList");
                    $('#spinnerAddProd').hide();
                },
                complete: function () {
                    $('#spinnerAddProd').hide();
                }
        });
    });

                $(document).ready(function () {
        $("#AddProduct").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddProduct", "Home")',
                dataType:"text",
                error: function (err) {
                    console.log(err)
                },
                success: function () {
                    $("#ProdList").load("/Home/ProductList");
                    $('#spinnerAddProd').hide();
                }
            })

        });
    });

        </script>

