@model List<Product>

<h5>Najczesciej kupowane produkty:</h5>

<table class="table">

    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    

                        @Html.DisplayFor(modelItem => item.Name)

                </td>
            </tr>
        }
    }
    else
    {
       <h6>Brak przedmiotów do wyświetlania </h6>
    }

</table>
