@model List<Product>
@{
    ViewData["Title"] = "ProductList";
}
<h2>Product list</h2>

<table class="table">
    <thead>
       
          
                @Html.DisplayNameFor(model => model)
         
     
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <form action="DeleteProduct" method="post">

                        <input type="hidden" name="product.Id" value="@item.Id" />


                        <button type="submit"><img src="~/cross.png" width="15" height="15" /></button>
                    </form>
                  
                </td>
            </tr>
        }
    </tbody>
</table>
