@model List<Product>
@{
    ViewData["Title"] = "ProductList";
}

    <div class="col-12">
        <h2>Lista produktów</h2>
    </div>
@foreach (var item in Model)
{

    @*<form action="DeleteProduct" method="post">

            <input type="hidden" name="product.Id" value="@item.Id" />
            @item.Name

            <button type="submit"><img src="~/cross.png" width="15" height="15" /></button>
        </form>*@

    <form asp-controller="Home" asp-action="DeleteProduct" method="post">
        <div class="container">

            <div class="row">
                <div class=" col-10" >

                    <input type="hidden" name="IdToRemove" value="@item.Id" />
                    @item.Name
                </div>
                <div class="col-2" >
                    <button type="submit" style=""><img src="~/cross.png" width="15" height="15" /></button>
                    
                </div>
              
            </div>
            <br />
        </div>
    </form>


}


