@model List<Product>
@{
    ViewData["Title"] = "ProductList";
}
<h2>Lista Produktów</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <form action="DeleteProduct" method="post">
                        <input type="hidden" name="product.Name" value="@item.Name" />
                        @Html.DisplayFor(modelItem => item.Name)

                        <button type="submit"><img src="~/cross.png" width="15px" height="15px" /></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
