@{
    ViewData["Title"] = "Generate";
}


<nav class="navbar">

    <h2> Asystent Zakupow </h2>

</nav>
<div class="col-sm-3 text-center">
    <div class="row mt-3"></div>
    <input type="button" class="btn-primary" onclick="location.href='@Url.Action("Ranking", "Generate")'" value="Ranking" style="margin-bottom:3px; width:200px" />
    <div class="row mt-3"></div>
    <input type="button" class="btn-primary" onclick="location.href='@Url.Action("Interpolation", "Generate")'" value="Interpolacja" style=" margin-bottom:3px;width:200px" />
    <div class="row mt-3"></div>
    <input type="button" class="btn-primary" onclick="location.href='@Url.Action("Neural_Network", "Generate")'" value="Siec" style=" margin-bottom:3px; width:200px" />
</div>

